.marquee-container {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    background: #fff3cd;
    padding: 10px;
}

.marquee-content {
    display: inline-block;
    white-space: nowrap;
    animation: marquee 40s linear infinite;
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}